################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/Test/JobmanagerTest/bin/Debug/net8.0
/Test/JobmanagerTest/obj
